<div class="topbar">
    <img src="../../../assets/img/android-icon-192x192.png" alt="FRHDekw logo">
    <span class="title">FRHDekw</span>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>
