@topbarHeight: 40px;
@topbarVPadding: 0.3rem;
@topbarHPadding: 5%;

.topbar {
    padding: @topbarVPadding @topbarHPadding;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: @topbarHeight;
    box-sizing: border-box;
    background-color: #1B5264;
    background-image: linear-gradient(#1B5264,#143F4D);
    color: white;

    img {
        height: calc(@topbarHeight - @topbarVPadding);
        margin-right: 1rem;
    }

    .title {
        font-size: calc(@topbarHeight - @topbarVPadding);
        font-family: Arial, sans-serif;
    }
}
.content {
    padding: 1rem;
}
